<div class="container-fluid">

	<h1>10 Pin Action Pro Shop</h1>
	<h2>Your friendly, local pro shop here to meet all your bowling needs!</h2>

	<hr>

	<%= image_tag("cobra.jpg", class: "img-responsive prod-list") %>
	<%= image_tag("venom-shock.jpg", class: "img-responsive prod-list") %>
	<%= image_tag("ghost.jpg", class: "img-responsive prod-list") %>
	<%= image_tag("jackel-le.jpg", class: "img-responsive prod-list") %>
	<%= image_tag("octane-burn.jpg", class: "img-responsive prod-list") %> 
	<%= image_tag("octane-carbon.jpg", class: "img-responsive prod-list") %>
</div>