<div class="c-wrapper">
  <div class="center-div" style="margin-left: 29em; width: 33%">
    <h2>Sign up</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :first_name, class:"sr-only" %>
        <%= f.text_field :first_name, autofocus: true, class:"form-control", placeholder:"First name" %>
      </div>

      <div class="field">
        <%= f.label :last_name, class:"sr-only" %>
        <%= f.text_field :last_name, class:"form-control", placeholder:"Last name" %>
      </div>

      <div class="field">
        <%= f.label :email, class:"sr-only" %>
        <%= f.email_field :email, class:"form-control", placeholder:"Email", required: true %>
      </div>

      <div class="field">
        <%= f.label :password, class:"sr-only" %>
        <!-- if @minimum_password_length -->
        <!-- em>(< @minimum_password_length > characters minimum)</em -->
        <!-- end -->
        <%= f.password_field :password, autocomplete: "off", class:"form-control", placeholder:"Password (6 characters minimum)", required: true %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, class:"sr-only" %>
        <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", placeholder:"Re-enter password", required: true %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class:"btn btn-success", role:"button" %>
      </div>
    <% end %>

    <p>Already Signed Up? 
      <%= render "devise/shared/links" %>
    </p>
  </div>
</div>