<article class="container">

  <% if notice %>
    <p id="notice" class="alert alert-info"><%= notice %></p>
  <% end %>

  <div class="row" data-product-id="<%= @product_id %>">
    <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
      <div class="thumbnail">
        
        <%= image_tag(@product.image_URL, width: "350", class: "img-responsive img-zoom", data_zoom_image: @product.image_URL) %>

        <h6>
          Views:
          <span class="badge badge-pill badge-warning">
            <%= @product.views %>
          </span>
          Latest reviewer:&nbsp;&nbsp;
          <span class="badge badge-pill badge-warning">
            <%= @product.get_recent_reviewer %>
          </span>
        </h6>

        <div class="caption">
          <h4 style="font-family: Rockwell Standard;">
            <strong>Name:</strong><br>
          </h4>
          <p style="font-family: Lora;"> 
            <%= @product.name %>
          </p>
          
        <h4 style="font-family: Rockwell Standard;">
          <strong>Description:</strong>
        </h4>
        
        <p style="font-family: Lora">
          <%= @product.description %>
        </p>

        <h4 style="font-family: Rockwell Standard">
	       <strong>Colour:</strong>
        </h4>
        <p style="font-family: Lora; font-weight: bold;">
	       <%= @product.colour %>
       </p>

        <h4 style="font-family: Rockwell Standard">
	       <strong>Price</strong>
        </h4>
        <p style="font-family: Lora;">
	       <%= @product.price %>
        </p>
        <p style="font-family: Lora;">Average Rating: <div class="rated" id="average-rating" data-score="<%= @product.average_rating %>"></div></p>
        </div>
      </div>
    </div>
  </div>

  <% if user_signed_in? %>
    <%= form_with(url: '/payments/create') do |form| %>
      <%= hidden_field_tag(:product_id, @product.id) %>
      <%= render partial: "shared/stripe_checkout_button" %>
    <% end %>
  <% end %>

  <hr>

  
  <div id="comments">
    <div class="alert alert-info" style="display:none" role="alert">
      A new comment was posted!
    </div>
    <%= render 'new_comment' %>
    <%= render 'comments' %>
  </div>

  <%= will_paginate @comments %>
  
  <br>
  <br>

  <button type="button" class="btn btn-default">
    <span class="glyphicon glyphicon-pencil" aria-hidden="true">
      <%= link_to 'Edit', edit_product_path(@product) %>
    </span>
  </button>
  <button type="button" class="btn btn-default">
    <span class="glyphicon glyphicon-triangle-left" aria-hidden="true">
      <%= link_to 'Back', products_path %>
    </span>
  </button>

</article>
