<!DOCTYPE html>
<html>
  <head>
    <title>App1</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'%>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquey.min.js"></script>
  
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

  </head>

  <body>
    <!-- navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
  
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="              .navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="projectName navbar-brand">
          <%= link_to 'Bowling Pro Shop', products_path %>
        </div> <!-- end projectName -->
      </div> <!-- end navbar-header -->
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'About', static_pages_about_path %></li>
          <li><%= link_to 'Contact', static_pages_contact_path %></li>
        </ul> 
      </div>
    </nav> <!-- end navbar --> 
    
    <%= yield %>

    <hr>

    <footer id="footer" class="footer">
        <p>&copy; 2017 10 Pin Action Pro Shop. All rights reserved.</p>
    </footer>

  </body>
</html>